*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
:root{
    --font:"Cormorant Garamond", serif;
}
.container{
    /* height: 3700px; */
    width: 100%;
    /* background-color: black; */
   
}
.header{
    width: 100%;
    height: 146px;
    
    display: flex;
    background: rgb(125,0,0);
    background: linear-gradient(89deg, rgba(125,0,0,1) 0%, rgba(150,1,1,1) 49%, rgba(247,118,0,1) 100%);
    /* background-image: url('./media/img/5068.jpg'); */
    background-position: center;
  
  
}
.logo{
    width: 100px;
    height: 90px;
    margin-top: 20px;
    margin-left: 200px;
}
.logo img{
    width: 100%;

}
/* .logo h1{
    font-family: var(--font);
    margin-left: 15px;
    font-size: 20px;
} */

.nav{
    display: flex;
    width: 55%;
    height: 120px;
    padding-top: 50px;
    margin-left: 300px;
    align-items: center;
    align-content: center;
   
    
}
.navItem{
    display: inline ;
    margin: 20px 30px;
    
}
.navLink{
    text-decoration: none;
    color:black;
    font-family: var(--font);
    font-size: 20px;
    font-weight:700;
    
    
}
.navLink:hover{
   
   border-bottom: 3px dotted rgb(56, 1, 1);
   
}
#home{
    width: 100%;
    
}
#homePage{
    /* position: absolute; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

video{
    object-fit: cover;
    width: 100%;
    height: 585px;
    position: relative;
    /* opacity: 0.8 ; */
    left: 0;
   
}

.head{
 /* background-color: rgb(0 0 0 / 20%); */
        width: 900px;
        height: 200px;
        text-align: center;
        
        align-items: center;
        justify-content: center;
       
        position: absolute;
       
       
    
}
.head h1{
    color: white;
    font-size: 100px;
    font-family:var(--font);
  font-weight: 300;
  font-style: normal;
   
 
}
.navbtn{
    padding-top: 15px;
    padding-bottom: 0px;
    width: 50px;
    height: 50px;
    z-index: 1;
    margin-top: 150px;
    margin-left: 1100px;
    border: 1px solid white;
    border-radius: 60px;
    position: fixed;
}

.orderBtn{
    width: 150PX;
    height: 40PX;
    color: white;
    border: 1px solid white;
    font-family: var(--font);
    /* border-radius: 15PX; */
    background-color: rgba(255, 255, 255, 0.096);
    text-align: center;
    font-size: 20PX;
}
.orderBtn:hover{
    background-color: #660000;
    
}
.menuHead{
    width: 100%;
    height: 70px;
    
    text-align: center;
    
    padding: 20px;
 
}
.menuHead h1{
    font-size: 40px;
    font-family: var(--font);
    font-weight: 500 ;
    color: white;

}
.slide{
    width: 100%;
    /* height:700px ; */
    display: flex;
    position: relative;
    
}
#menu{
    width: 100%;
    /* height:700px ; */
    position: relative;
    overflow: hidden;
    /* justify-content: flex-start; */
    /* background-image: url('./media/img/pexels-engin-akyurt-1667642.jpg'); */
   background-image: url('./media/img/bgblack.jpg');
}


.menuList{
    display: flex;
    align-items: center;
    justify-content: center;
   
    animation: 20s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
@keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    35% {
      transform: translateX(-100%);
    }
    55% {
      transform: translateX(-100%);
    }
    75% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
   
  }

.menuItem{
    width: 300px;
    height: 500px;
    
    /* border: 2px solid black; */
    margin: 90px;
    padding: 23px;
    
   
}
.menuDescription{
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top: 25px;
    


}
.menuDescription h1{
    font-family: var(--font);
    padding-bottom: 15px;
    
    color: rgba(255, 255, 255, 0.414);
}
.menuDescription p{
    font-family: var(--font);
    font-weight: 600;
    color: rgba(255, 255, 255, 0.538);
}
.menuDescription button{
    margin-top: 10px;
    font-size: 20px;
    font-family: var(--font);
    width: 250px;
    height: 30px;
    border: 1px solid white;
    color:white;
    border-radius: 13px;
    background-color: rgba(243, 244, 246, 0);
    
}
.menuDescription button:hover{
    background-color: #660000;

}

.menuPic{
    width: 250px;
    
    
}
.menuPic img{
    width: 100%;
    
}
.menuPic img:hover{
    transform: scale(1.2 );
}
#about{
    width: 100%;
    background: rgb(255,249,237);
    background: linear-gradient(72deg, rgba(255,249,237,1) 0%, rgba(255,227,185,1) 97%);
   
}

.lastaboutwrap{
    width: 100%;
    padding: 30px;
    display: flex;
    margin-left: 30px;
}
.lastabout{
    width: 620px;
    /* height: 600px; */
    margin-left: 100px;
    border-bottom: 3px dotted brown ;
    text-align: justify;
}
.pic{
    width: 400px;
    height: 400px;
    margin-right: 0px;
    margin-left: 90px;
    margin-top: 100px;
    
}
.pic img{
    width: 100%;
    animation: 3s anime infinite;
}
@keyframes anime{
    0%{transform: scale(0);}
    100%{transform: scale(1.1);}
}
.lastabout h1{
    text-align: center;
    font-family: var(--font);
    font-size: 75px;
    color: brown;
}
.lastabout p{
    font-family: var(--font);
    font-size: 23px;
    color: brown;
}

#reservation{
    width: 100%;
    background-color: rgb(227, 226, 223);
   padding-bottom: 50px;
    text-align: center;
    align-items: center;
    
}
#reservation h1{
    padding-top: 20px;
    font-family: var(--font);
    font-size: 53px;
    margin-bottom: 20px;
}
#reservation label{
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
    
}
.res-form{
    
    margin-top: 20px;
    margin-bottom: 30px;
}
.table{
    margin-top: 30px;
    width: 180px;
    height: 50px;
    color: white;
    background-color: #660000;
    border: 3px dotted var(--font);
}
#people{
    width: 600px;
    height: 40px;
    border-radius: 12px;
    border-color: rgba(128, 128, 128, 0.685);
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
}

input{
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
}

#booking{
    width: 600px;
    height: 40px;
    border-radius: 12px;
}
#connect{
    display: flex;
    background-image: url('./media/img/b1.jpg');
    
    justify-content: center;
    align-items: center;
    align-content: center;
}
.smLeft{
    width: 35%;
    margin: 30px;
}
.smLeft h1{
    font-family: var(--font);
    text-align: center;
    margin-top: 60px;
    font-weight: 900;
    font-size: 60px;
    color: rgb(104, 33, 0);
    
}
.smLeft p{
    font-family: var(--font);
    text-align: center;
    padding: 60px;
    font-size: 40px;
}
.smLeft button{
    border: 1px solid black;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font);
    margin-left: 150px;

}

.smLeft button:hover{
    background-color: rgb(104, 33, 0);
    color: white;
}
.smRight{
    width: 45%;
    
    /* background-color: rgb(11, 188, 17); */
    margin: 30px;
    
}
.smpic{
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0px;
    margin-bottom: 10px;
}
.smpic i{
    position: absolute;
   padding-left: 60px;
   padding-top: 70px;
   visibility: hidden;
}
.smpic img{
    width: 150px;
    height: 150px;
}
.smpic img:hover{
    opacity: 0.4;
}
.smpic:hover i{
    color: black;
    opacity: 2;
    visibility: visible;
}


.b{
    margin-left: calc(170*1px);
    margin-top: -160px;
}
.c{
    margin-left: calc(170*2px);
    margin-top: -160px;
}
.d{
    margin-left: calc(170*3px);
    margin-top: -160px;
}
.e{
    margin-left: calc(170*2px);
}
.f{
    margin-left: calc(170*1px);
    margin-top: -160px;
}
.h{
    margin-left: calc(170*1px);
    margin-top: -160px;
}
.i{
    margin-left: calc(170*2px);
    margin-top: -160px;
}
.j{
    margin-left: calc(170*3px);
    margin-top: -160px;
}
.k{
    margin-left: calc(170*1px);
    
}
.l{
    margin-left: calc(170*2px);
    margin-top: -160px;
}
#location{
    width: 100%;
    height: 750px;
    background-color: aliceblue;
    display: flex;
    padding: 90px;
    
}
.locImg{
    width: 35%;
    height: 600px;
    margin-left: 90px;
}
.locFrame{
    width: 50%;
    height: 600px;
    background-color: rosybrown;
    margin-left: 60px;
    
}
.locImg img{
    width: 100%;
}
.locFrame iframe{
    width: 100%;
    height: 100%;
}
.address{
    border-bottom: 2px double black;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 32px;
    font-family: var(--font);
    text-align: center;

}
#footer{
    
    width: 100%;
    background-color: rgb(174, 175, 172);
}
.copyright{
    bottom: 10px;
    width: 100%;
    height: 50px;
    
    /* padding-left: 650px; */
   text-align: center;
}
.footericon{
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 50px;
    /* padding-left: 670px; */
   
} 
.gap{
    font-family: var(--font);
    width: 100%;
    height: 0px;
    text-align: center;
    justify-content: center;
    background-color: white;
    color: black;
}
.footericon i{
    width: 50px;
    height: 50px;
    
    
}